.sidebar {
    background-color: darkslategray;
    height: 100vh;
    width: 200px;
    position: fixed;
    overflow: scroll;
    text-align: center;
}

.nameSidebar {
    width: 70%;
    height: 50px;
    border-radius: 25%;
}

.clearCart {
    background: aliceblue;
    padding: 20px;
}

.checkoutCart {
    padding: 20px;
}

.payment {
    background-color: aliceblue;
}

