.sidebar {
    background-color: darkslategray;
    height: 100vh;
    width: 200px;
    position: fixed;
}

.nameSidebar {
    width: 70%;
    height: 50px;
    border-radius: 25%;
}

.check {
    scale: 0.5;
    width: 50px;
}
