.entireShopping {
    background-color: aliceblue;
    padding: 20px;
    font-weight: bold;
}

.categories {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.shoppingItems {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.subTotal {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid white;
    font-weight: bold;
}

.subTotal > p {
    margin-bottom: 5px;
}

