.hero {
    flex-direction: row;
    display: flex;
    text-align: center;
    margin-left: 40%;
    font-size: 25px;
}
.content {
    font-weight: bold;
    margin-right: 40%;
    font-family: Monaco;
    padding: 0px;
    margin: 0px;
}
.bag {
    width: 10px;
    height: auto;
    size: 20px;
}